.map-container {
  position: absolute;
  top: 0;
  left: 25%;
  right: 0;
  bottom: 0;
  margin: 6vh 1vw 2vh 5vw;
  border: 2px solid black;
}

.map-frame {
  height: 100%;
}

#map {
  height: 100%;
}

.control-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 70%;
  bottom: 0;
  margin: 6vh 1vw 2vh 2vw;
  overflow-y: auto;
  border: 2px solid black;
}

.control-frame {
  /*border: 2px solid black;*/
  height: 100%;
}

#control {
  position: relative;
  top: 0;
  bottom: 0;
  align-self: center;
}

.mat-slide-toggle {
  margin: 8px 0;
  display: block;
}

.viewport {
  height: 50vh;
  width: 100%;
}

.mat-mini-fab{
  margin-left: 10px;
}

