#map {
  padding: 5% 1% 1% 1%;
  width: 100% !important;
  height: 800px !important;
}

mat-sidenav-container {
  height: calc(100vh - 4em);
}

mat-sidenav {
  background: #1e2833;
  border-top: 2px solid white;
  padding: 1em;
  width: 30vh;
  color: white;
}

mat-sidenav-content {
  height: 100%;
}


