<div class="modal-header">
  <h4 class="modal-title">Edit Zone</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-group">
    <label for="zonenameInput">Name</label>
    <input type="text" class="form-control" id="zonenameInput" [(ngModel)]="zone.name">
  </div>
  <div class="form-group">
    <label for="zoneRadiusInput">Radius [km]</label>
    <input type="number" class="form-control" id="zoneRadiusInput" min="0.001" [(ngModel)]="zone.radius">
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark"
          (click)="activeModal.dismiss()">Close</button>
  <button type="button" class="btn btn-success" (click)="save()">Edit</button>
</div>
