<app-toolbar></app-toolbar>

<div class="container">

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mt-5" matSort>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> ID </th>
      <td mat-cell *matCellDef="let zone"> {{zone.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Name </th>
      <td mat-cell *matCellDef="let zone"> {{zone.name}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by type"> Type </th>
      <td mat-cell *matCellDef="let zone"> {{this.mapService.findZoneType(zone)}} </td>
    </ng-container>

    <ng-container matColumnDef="complexity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by count"> Complexity </th>
      <td mat-cell *matCellDef="let zone"> {{zone.pos.length}} </td>
    </ng-container>

    <ng-container matColumnDef="radius">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by radius"> Radius (in km) </th>
      <td mat-cell *matCellDef="let zone"> {{zone.radius / 1000}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef="let zone">
        <button mat-icon-button aria-label="" (click)="add()">
          <mat-icon>library_add</mat-icon>
        </button>
      </th>
      <td mat-cell *matCellDef="let zone">
        <div *ngIf="zone.name != 'None'">
          <button mat-icon-button aria-label="" (click)="centerOnZone(zone)">
            <mat-icon>open_in_new</mat-icon>
          </button>
          <button mat-icon-button aria-label="" (click)="edit(zone)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button aria-label="" (click)="delete(zone)">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator class="mat-elevation-z8" [pageSizeOptions]="[15, 30, 45]"
                 showFirstLastButtons>
  </mat-paginator>
</div>
<simple-notifications></simple-notifications>


