<section class="login-dark">
  <a class="btn btn-light" id="imprintBtn" routerLink="/imprint">?</a>
  <form id="signInForm" method="post"><h2 class="visually-hidden">Log In</h2>
    <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
    <div class="mb-3"><input id="loginUsername" class="form-control" type="text" placeholder="Username" #username required></div>
    <div class="mb-3"><input id="loginPassword" class="form-control" type="password" name="password" placeholder="Password" #userPassword required></div>
    <div class="mb-3">
      <button class="btn btn-primary d-block w-100" type="submit" (click)="this.logIn(username.value, userPassword.value)">Log In</button>
    </div>
  </form>
</section>
