.highlighted-green {
  color: #12B400;
}

.highlighted-green:hover {
  color: #1aff00 !important;
  cursor: pointer;
}

.hover-dark:hover {
  background-color: #2a3347;
  border-radius: 4px;
  cursor: pointer;
}

.separator-white {
  border-top: 1px white solid;
}

.hover-text:hover {
  color: #c1c1c1;
  cursor: pointer;
}
