<app-header></app-header>

<!--<div class="container mt-5">-->
<!--  <div class="card-deck pt-3">-->
<!--    <app-user *ngFor="let user of users" [user]="user"></app-user>-->
<!--  </div>-->
<!--</div>-->

<div class="container-fluid pt-3">

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mt-5" matSort>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> ID </th>
      <td mat-cell *matCellDef="let user"> {{user.id}} </td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Name </th>
      <td mat-cell *matCellDef="let user"> {{user.username}} </td>
    </ng-container>

    <ng-container matColumnDef="password">
      <th mat-header-cell *matHeaderCellDef> Passwort </th>
      <td mat-cell *matCellDef="let user"> **********<a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a> </td>
    </ng-container>

    <ng-container matColumnDef="zone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by zone"> Zone </th>
      <td mat-cell *matCellDef="let user"> Zone x </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status"> Status </th>
      <td mat-cell *matCellDef="let user"> Active </td>
    </ng-container>

    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by creation"> Created </th>
      <td mat-cell *matCellDef="let user"> 01/01/2020</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef="let user"> <a class="btn table-link" (click)="add()">
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-plus-square fa-stack-1x fa-inverse"></i>
									</span>
      </a></th>
      <td mat-cell *matCellDef="let user"> <a class="btn table-link">
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
									</span>
      </a>
        <a class="btn table-link" (click)="edit(user)">
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
									</span>
        </a>
        <a class="btn table-link danger" (click)="delete(user.id)">
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
									</span>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator class="mat-elevation-z8" [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
