<div class="card mt-3" style="width: 18rem;">
  <img class="card-img-top" src="https://via.placeholder.com/250x150" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{user.id}}</h5>
    <p class="card-text">{{user.username}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">***********<a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a></li>
    <li class="list-group-item">Zone</li>
    <li class="list-group-item">Created...</li>
  </ul>
  <div class="card-body">
    <a href="#" class="table-link">
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
									</span>
    </a>
    <a href="#" class="table-link">
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
									</span>
    </a>
    <a href="#" class="table-link danger">
									<span class="fa-stack">
										<i class="fa fa-square fa-stack-2x"></i>
										<i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
									</span>
    </a>
  </div>
  <div class="card-footer">
    <small class="text-muted">Last updated 3 mins ago</small>
  </div>
</div>
