html, body { height: 100%; }

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.border-white {
  border: 2px solid white;
}

.rounded-border {
  border-radius: 4px;
}

.hover-mouse-hand {
  cursor: pointer;
}

